.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 290px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 16px;
}

.contact > div {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  min-width: 0; /* Це критично важливо для обрізання тексту у flex-контейнері */
}

.contact p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
